* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  width: 100%;
  padding: 10px
}

.todos {
  background-color: rgb(255, 255, 255);
  width: 100%;

  .options {
    background-color: rgb(201, 201, 201);
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(209, 209, 209);
    width: 100%;

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(104, 104, 104);
      border-radius: 8px;
      min-width: 100%;
      padding: 15px;
      margin-bottom: -1px;
      
      .label {
        margin-right: 20px;
      }

      .button-move {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: grey
      }
    }
    
    .item:last-child {
      margin-bottom: 0;
    }
  }
}

