{
  /*
  Chapter 1 - Adding Airbnb's ESLint config with TypeScript support
  --------------------------------------------------------------------------------------
  Instructions at https://github.com/iamturns/eslint-config-airbnb-typescript
  */
  "root": true,
  "env": {
    "node": true,
    "browser": false
  },
  // This allows ESLint to understand TypeScript syntax
  "parser": "@typescript-eslint/parser",
  // Configure the ESLint TypeScript parser
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  // This allows you to use the rules within your codebase
  "plugins": ["@typescript-eslint"],
  // Tells ESLint that your config extends the given configurations
  "extends": [
    "airbnb-typescript/base"
  ],
  "rules": {
    "max-len": ["warn", 80, 2, {"ignoreComments": true}],
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "no-console":  ["error", { "allow": ["warn", "error", "log"] }],
    "import/no-extraneous-dependencies": "off"
  }
}